/* Reset Styles */

ul {
  margin: 0;
  padding: 0;
}

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header,
.header__details {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.row__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.wrapper__new-task {
  display: flex;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */
.todo-task__title,
.completed-task__title,
.add-task__title-label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.list__item-input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.list__item-input-text:focus {
  color: #333;
}

/* New Task */
.add-task__title-label {
  display: block;
  margin: 0 0 20px;
}

.list__item-input-text.row__task.input__row {
  width: 318px;
}

/* Task list */
.list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item > * {
  vertical-align: middle;
}

.list__item > .list__item-checkbox {
  margin: 0 10px;
}

.list__item > .row__task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list__item > .list__item-input-text  {
  width: 226px;
}

.btn.list__item-delete .list__item-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn.list__item-delete .list__item-img:hover {
  transform: rotateZ(0);
}

/* Edit Task */
.list__items .list__item-input-text {
  display: none;
}

.edit-mode > .row__task {
  display: inline-block;
  width: 224px;
}

.list__items .edit-mode label {
  display: none;
}

/* Completed */
.list__items-complete > .list__item .row__task {
  text-decoration: line-through;
  color: #888;
}

.list__item.edit-mode .row__task {
  text-decoration: none;
  color: #888;
}